.content {
    margin-top: 10px;
}

.content button.add {
    margin: 10px 0;
    background-color: white;
    color: rgb(30, 30, 30);
    font-weight: 400;
    text-shadow: none;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    border: 1px solid rgb(49, 127, 230);
}

.content button.button {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.content button.button:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.content button.add svg {
    font-size: 2rem;
}

.content button.add span {
    font-weight: 300;
}

.categoriesList {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.categoriesItem {
    width: 100%;
    padding: 10px 2%;

    font-size: 1.3rem;
    font-weight: 200;

    border-radius: 8px;
    border: 1px solid #e7e7e7;

    background-color: white;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;

    user-select: none;

}

.categoriesItem svg {
    cursor: pointer;
}